
/* Style The Dropdown Button */
.dropdownButton{
  background-color:#3498DB;
  color: white;
  padding: 9px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius:12pt;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:160 px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent button{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:100%;
  border:none;
}

/* Change color of dropdown links on hover */
.dropdownContent button:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdownContent {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropdownButton {
  background-color:#3498DB;
}